body {
    background-color: white;
}
.buttons {
    text-align: center;
}
button {
    margin: 10px;
    font-size: xxx-large;
}
.index-text {
    font-family: sans-serif;
}
.index-text2 {
    font-family: sans-serif;
    text-align: center;
}
.h1-main {
    text-align: left;
}
.h3-main {
    text-align: right;
}
.header-main {
    text-align: center;
}
.picturediv1 {
    text-align: left;
}
.picture1{
    margin: 10px;
    width: 25%;
    height: 25%;
}
.picturediv2 {   
    text-align: right;
}
.picture2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 25%;
    height: 25%;
}
.picturediv3 {
    text-align: left;
}
.picture3 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 25%;
    height: 25%;
}
.picturediv4 {
    text-align: right;
}
.picture4 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 25%;
    height: 25%;
}
.picturediv5 {
    text-align: left;
}
.picture5 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 25%;
    height: 25%;
}
.picturediv6 {
    text-align: right;
}
.picture6 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 25%;
    height: 25%;
}
